
    :root {
        --blanco: #ffffff;
        --oscuro: #212121;
        --primario: #FFC107;
        --secundario: #0097A7;
        --gris: #757575;
        --grisClaro: #DFE9F3;
    }
    
    /*  Globales    */
    html {
        font-size: 62.5%;
        box-sizing: border-box; /*Hack para box model*/
        scroll-snap-type: y mandatory; /*scrool hacia arriba y abajo, y vertical, x horizontal*/
    
    }

     /* Scroll Snap*/
     .servicios,
     .navegacion-principal,
     .formulario {
         scroll-snap-align: center;/*para que el scroll se detenga en el centro, como cuando obligas al usuario a ver bien*/
         scroll-snap-stop: always;
     }

    *, *:before, *:after {
        box-sizing: inherit;
      }

    body {
        font-size: 16px; /*1rem = 10px*/
        font-family: 'Krub', sans-serif;
        background-image: linear-gradient(to top, var(--grisClaro) 0%, var(--blanco) 100%); /*to top: de abajo hacia arriba, 0%: que empieze de lo mas bajo, 100%: es como que altura va a tener que llegar ese*/
    }

    .contenedor { /*contenido centrado*/
        max-width: 120rem;
        margin: 0 auto;
    }

    .boton {
        background-color: var(--secundario);
        color: var(--blanco);
        padding: 1rem 3rem;
        margin-top: 1rem;
        font-size: 2rem;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: bold;
        border-radius: .5rem; /*5 pixeles*/
        width: 90%;
        text-align: center;
        border: none; /*para el boton*/
    }
    @media (min-width: 768px) {
        .boton {
            width: auto; /*se reinicia el valor*/
        }
    }
    .boton:hover {
        cursor: pointer;
    }

    .sombra {
        box-shadow: 0px 5px 15px 0px rgba(112,112,112,0.48);
        background-color: var(--blanco);
        padding: 2rem;
        border-radius: 1rem;
    }

    /*  Tipografia  */
    h1 {
        font-size: 3.8rem; /*38 pixeles*/
    }
    h2 {
        font-size: 2.8rem; /*28 pixeles*/
    }
    h3 {
        font-size: 1.8rem; /*18 pixeles*/
    }

    h1,h2,h3 {
        text-align: center;
    }

    /*  Titulos */
    .titulo span {
        font-size: 2rem;
    }

    /*  Utilidades  */

    .w-sm-100 {
        width: 100%;
    }
    @media (min-width: 768px) {
        .w-sm-100{
            width: auto;
        }
    }
    .flex {
        display: flex;
    }
    .alinear-derecha {
        justify-content: flex-end;
    }

    /*  Navegacion Principal*/
    .nav-bg {
        background-color: var(--secundario);
    }

    .navegacion-principal {
      
        display: flex;
        flex-direction: column;
        
    }
    @media (min-width: 768px) {
        .navegacion-principal{ /*Hereda de nav-principal*/
            flex-direction: row;
            justify-content: space-between;
        }
    }

    .navegacion-principal a {
        color: var(--blanco);
        text-decoration: none;
        font-size: 2rem;
        font-weight: 700;
        padding: 1rem;
    }
    .navegacion-principal a:hover {
        background-color: var(--primario);
        color: var(--oscuro);
    }

    /*  Hero  */
    .hero {
        background-image: url(../img/hero.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 450px;
        /*padding: 20px;*/
        position: relative;
        margin-bottom: 2rem;
    }

    .contenido-hero {
        position: absolute;
        background-color: rgba( 0,0,0, .7); /** Anterior **/
        background-color: rgb( 0 0 0 / 70%);
        width: 100%;
        height: 100%;

        display: flex; /*Por se el padre, se utiliza para posicionar y centrar lo de abajo, todo lo que son los hijos los coloca de izquierda a derecha*/
        flex-direction: column;
        align-items: center;
        justify-content: center; /*alinearia verticarlmente por ser column*/
    }

    .contenido-hero h2,
    .contenido-hero p {
        color: var(--blanco);
    }

    .contenido-hero .ubicacion {
        display: flex;
        align-items: flex-end;
    }
   
    /*Servicios*/
    @media (min-width: 768px) {
        .servicios {
            display: grid; /*Esto es para alinear los servicios, se coloca en el elemento padre*/
            /*En grid tenemos acceso a las dos dimenciones al mismo tiempo a diferencia de flex box, osea de izquierda a derecha o arrriba hacia abajo*/
            /*grid-template-columns: 300px 300px; estamos definiendo dos columnas de 300 pixeles*/
            /*grid-template-rows: 200px 800px; 200 pixeles en los rows de arriba y 800 en el de abajo*/
            /*grid: 200px 800px / 300px 300px; Esto es lo mismo que lo de arriba*/
            grid-template-columns: 1fr 1fr 1fr; /*Es lo mismo que dividir el total en tres partes, osea es igual que poner 33.3%*/
            /*grid-template-columns: repeat(3, 1fr); es lo mismo que arriba pero cortado*/
            column-gap: 1rem;/*separacion de la columnas*/

        }
    }

    .servicio {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .servicio h3 {
        color: var(--secundario);
        font-weight: normal;
    }
    .servicio p {
        line-height: 2; /*da interlineado al texto, para que este mas facil de leer*/
        text-align: center;
    }

    .servicio .iconos {
        height: 15rem;
        width: 15rem;
        background-color: var(--primario);
        border-radius: 50%; /*Si es un cuadrado esto fomra un circulo exacto*/
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    /*Contacto*/
    .formulario {
        background-color: var(--gris);
        width: min( 60rem, 100%);/*utilizar el valor mas pequeno. es una funcion nueva, que nos permite usar ahorrarnos media queries, en pantalla completa va a hacer mas pequeno el 60rem, pero en moviles tomara el 100%*/
        margin: 0 auto; /*como el padre no tiene un display flex, lo centramos de esta manera en lugar del justify content, y que sea block*/
        padding: 2rem;
        border-radius: 1rem;

    }

    .formulario fieldset {
        border: none; /*elimina el border que trae por defecto*/
    }

    .formulario legend {
        text-align: center;
        font-size: 1.8rem;
        text-transform: uppercase;
        font-weight: 700;
        margin-bottom: 2rem;
        color: var(--primario);
    }

    @media (min-width: 768px) {
        .contenedor-campos {
            display: grid;
            grid-template-columns: 50% 50%; /*diseno en dos columnas*/
            grid-template-rows: auto auto 20rem;
            column-gap: 1rem; /*separacion de la columnas*/

    
        }
    }
   .campo:nth-child(3),
   .campo:nth-child(4) { /*esto se usa para escojer un campo en especifico, empieza desde 1, en este caso se escogio el correo*/
        grid-column: 1 / 3; /*esto se usa como para combinar columnas y que la fila se extienda*/
        /*grid-row: 3 / 4; cambia el correo a la siguiente fila*/

    }
    .campo {
        margin-bottom: 1rem;
    }
    .campo label {
        color: var(--blanco);
        font-weight: bold;
        margin-bottom: .5rem;
        display: block;
    }
    .campo textarea{
        height: 15rem;

    }

    /*.campo input[type="text"] {
        background-color: red;
    }*/
    .input-text {
        width: 100%;
        border: none;
        padding: 1.5rem;
        border-radius: .5rem;
    }
/*
    .enviar .boton{
        width: 100%;
    }*/
    .footer {
        text-align: center;
    }